.advantages {

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px -20px;
	}

	&__item {
		margin: 0 10px 20px;
		width: calc(25% - 20px);

		.item__title {
			margin-bottom: 6px;

			&:last-child {
				margin-bottom: 0;
			}

			.text {
				font-size: 14px;
				font-weight: 700;
			}
		}

		@include tablet {
			width: calc(50% - 20px);
		}

		@include mobile {
			width: calc(100% - 20px);
		}
	}
}
