#arrow-back
	svg.progress-circle(width="48", height="48")
		circle.circle-background(cx="24", cy="24", r="23")
		circle.circle-progress(cx="24", cy="24", r="23", stroke-dasharray="251.2, 251.2")
	.content
