-
	const data = {
		header: {
			menu: [
				{
					url: '#section-main',
					title: 'Резюме'
				},
				{
					url: '#section-experience',
					title: 'О себе'
				},
				{
					url: '#section-advantages',
					title: 'Навыки'
				}
			]
		},

		share: {
			caption: 'Поделиться:',
			list: ['fb', 'tw', 'vk', 'ok'],
		},

		home: {
			title: 'гид&nbsp;по <br><span class="for-desktop">бережному</span><span class="for-devices">общению</span>',
			read: 'Читать',
		},

		modal: {
			close: 'Закрыть',
		},

		advantages: [
			{
				title: 'Adobe Creative Suite',
				text: 'Photoshop, Illustrator, InDesign, XD, After Effects'
			},
			{
				title: 'Prototyping',
				text: 'Sketch, Figma, InVision, Marvel, Principle, Balsamiq'
			},
			{
				title: 'Additional',
				text: 'HTML, CSS, Google Analytics, Keynote, Miro'
			},
			{
				title: 'Languages',
				text: 'Conversational English and Native Russian'
			},
		],

		candidate: {
			name: "Никита Анисимов",
			role: "Frontend-разработчик",
			description: "Как фронтенд-разработчик с 5 годами профессионального опыта, я работал над разнообразными проектами, как маленькими, так и большими, сотрудничая с командами для достижения высококачественных результатов. Я также работал фрилансером в свободное время между работами. В настоящее время я активно расширяю свои знания библиотеки ReactJS, с большим интересом к работе в этой области. Особенно заинтересован в работе с технологическим стеком, который включает в себя ReactJS, TypeScript и Redux.",
			email: "knsmrt5k@gmail.com",
			phone: "+79872870225",
			city: "Астана",
			image: '/images/sprites/png/share.png',
			share: [
				{
					url: '',
					socialName: 'fb',
					id: 'fb-share-link'
				},
				{
					url: '',
					socialName: 'vk',
					id: 'vk-share-link'
				},
				{
					url: '',
					socialName: 'tg',
					id: 'tg-share-link'
				}
			]
		},

		experience: {
			work: [
				{
					date: 'Июль 2019',
					title: 'Freelance Designer',
					titleDecUrl: './images/sprites/svg/work-dec-1.svg',
					location: 'Netherlands, Worldwide',
					description: 'Available for a project or job in UX/UI, Visual and Product design.',
					links: [
						{
							text: 'Commercial tryouts',
							url: 'javascript:;',
						},
						{
							text: 'Personal projects',
							url: 'javascript:;',
						},
					]
				},
				{
					date: 'Январь 2017 - Сентябрь 2018',
					title: 'Digital Designer',
					titleDecUrl: './images/sprites/svg/work-dec-2.svg',
					companyName: 'J Creative Solutions',
					companyImageUrl: './images/sprites/png/jcs.png',
					location: 'Digital agency in Minsk, Belarus',
					description: 'Created visuals for digital marketing channels such as social media, promo web and online ads. Developed visual language from scratch or following the branding guidelines. Designed presentations\n' +
							'for clients and indoor purposes.',
					links: {
						text: 'Agency projects',
						url: 'javascript:;',
					}
				},
				{
					date: 'Март 2014 - Февраль 2017',
					title: 'SEO Specialist → Lead SEO Specialist',
					titleDecUrl: './images/sprites/svg/work-dec-3.svg',
					companyName: 'OZ.by',
					companyImageUrl: './images/sprites/png/oz.png',
					location: 'Online bookstore in Minsk, Belarus',
					description: 'Improved website performance and user experience of the biggest online bookstore OZ in Belarus, being a part of the marketing team,\n' +
							'I interpreted Google Analytics data to IT, content and marketing colleagues. Advised on tech and content optimization strategy, automated processes, provided reports, increased organic traffic up to 150%.',
					links: {
						text: 'Annual company report 2016',
						url: 'javascript:;',
					}
				},
				{
					date: 'Август 2012 - Ноябрь 2013',
					title: 'Content Specialist',
					titleDecUrl: './images/sprites/svg/work-dec-4.svg',
					companyName: '21vek.by',
					companyImageUrl: './images/sprites/png/21vek.png',
					location: 'E-commerce store in Minsk, Belarus',
					description: 'Added and modified the product information, prepared images and text for the website, developed categories filters, ensure all info is correct in the catalogue with the goal of improving online shopper experience.',
				},
				{
					date: 'Август 2011 - Ноябрь 2014',
					title: 'Software Support Engineer',
					titleDecUrl: './images/sprites/svg/work-dec-5.svg',
					companyName: 'Integral',
					companyImageUrl: './images/sprites/png/21vek.png',
					location: 'Microelectronics factory in Minsk, Belarus',
					description: 'Supported retail accounting system LS Trade, troubleshoot technical problems.',
				},
			],

			education: [
				{
					decorationUrl: './images/sprites/svg/ed-dec-1.svg',
					title: 'Interface Design: Web & Mobile',
					institution: 'IT-Academy, 2020',
				},
				{
					decorationUrl: './images/sprites/svg/ed-dec-2.svg',
					title: 'Fundamentals of Usability',
					institution: 'Skillshare, Oct 2018',
				},
				{
					decorationUrl: './images/sprites/svg/ed-dec-3.svg',
					title: 'CG Artist',
					institution: 'Polygon CG School, May-Sep 2017',
				},
				{
					decorationUrl: './images/sprites/svg/ed-dec-4.svg',
					title: 'Graphic Design',
					institution: 'Belarusian State Academy of Arts, 2015 - 2017 Postgraduate Diploma',
				},
				{
					decorationUrl: './images/sprites/svg/ed-dec-5.svg',
					title: 'SEO Specialist',
					institution: 'ARTOX Media, Jun-Aug 2012',
				},
				{
					decorationUrl: './images/sprites/svg/ed-dec-6.svg',
					title: 'Information Technology Software',
					institution: 'Belarusian State University of Informatics and Radioelectronics, 2011 - 2015 Bachelor’s degree\n ' + 'Polotsk State Economic College, 2007 - 2011 Associate’s degree',
				},
			]
		}
	};

script.
	window.data = {
		home: !{JSON.stringify(data.home)},
		candidate: !{JSON.stringify(data.candidate)},
	};
