$sprites: (
	"21vek": (
		normal: (
			x: 1107,
			y: 365,
			width: 30,
			height: 30,
			image: "sprites.png",
			total_width: 1155,
			total_height: 1114,
		),
		retina: (
			x: 2214,
			y: 730,
			width: 60,
			height: 60,
			image: "sprites@2x.png",
			total_width: 2310,
			total_height: 2228,
		),
	),
	"bg-texture-1": (
		normal: (
			x: 0,
			y: 0,
			width: 1155,
			height: 363,
			image: "sprites.png",
			total_width: 1155,
			total_height: 1114,
		),
		retina: (
			x: 0,
			y: 0,
			width: 2310,
			height: 726,
			image: "sprites@2x.png",
			total_width: 2310,
			total_height: 2228,
		),
	),
	"header-texture": (
		normal: (
			x: 0,
			y: 958,
			width: 104,
			height: 156,
			image: "sprites.png",
			total_width: 1155,
			total_height: 1114,
		),
		retina: (
			x: 0,
			y: 1916,
			width: 208,
			height: 312,
			image: "sprites@2x.png",
			total_width: 2310,
			total_height: 2228,
		),
	),
	"integral": (
		normal: (
			x: 1107,
			y: 397,
			width: 30,
			height: 30,
			image: "sprites.png",
			total_width: 1155,
			total_height: 1114,
		),
		retina: (
			x: 2214,
			y: 794,
			width: 60,
			height: 60,
			image: "sprites@2x.png",
			total_width: 2310,
			total_height: 2228,
		),
	),
	"jcs": (
		normal: (
			x: 1107,
			y: 429,
			width: 30,
			height: 30,
			image: "sprites.png",
			total_width: 1155,
			total_height: 1114,
		),
		retina: (
			x: 2214,
			y: 858,
			width: 60,
			height: 60,
			image: "sprites@2x.png",
			total_width: 2310,
			total_height: 2228,
		),
	),
	"logo": (
		normal: (
			x: 593,
			y: 655,
			width: 150,
			height: 150,
			image: "sprites.png",
			total_width: 1155,
			total_height: 1114,
		),
		retina: (
			x: 1186,
			y: 1310,
			width: 300,
			height: 300,
			image: "sprites@2x.png",
			total_width: 2310,
			total_height: 2228,
		),
	),
	"love-image": (
		normal: (
			x: 593,
			y: 365,
			width: 512,
			height: 288,
			image: "sprites.png",
			total_width: 1155,
			total_height: 1114,
		),
		retina: (
			x: 1186,
			y: 730,
			width: 1024,
			height: 576,
			image: "sprites@2x.png",
			total_width: 2310,
			total_height: 2228,
		),
	),
	"oz": (
		normal: (
			x: 1107,
			y: 461,
			width: 30,
			height: 30,
			image: "sprites.png",
			total_width: 1155,
			total_height: 1114,
		),
		retina: (
			x: 2214,
			y: 922,
			width: 60,
			height: 60,
			image: "sprites@2x.png",
			total_width: 2310,
			total_height: 2228,
		),
	),
	"preloader": (
		normal: (
			x: 0,
			y: 365,
			width: 591,
			height: 591,
			image: "sprites.png",
			total_width: 1155,
			total_height: 1114,
		),
		retina: (
			x: 0,
			y: 730,
			width: 1182,
			height: 1182,
			image: "sprites@2x.png",
			total_width: 2310,
			total_height: 2228,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
